<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order! We have received your order for the following items:</h4>
    <p><strong> The confirmation email has been sent to: <%= @order.email %> </strong></p>

    <table class="table table-bordered"> 
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Item Total</th>
        </tr>
      </thead>

      <tbody>
        <% @order.line_items.each do |line_item| %>
          <%= render 'line_item', line_item: line_item %>
        <%end%>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">
              TOTAL:
          </th>
          <th>
            <%= number_to_currency(@order.total_cents / 100.0, unit: "$", precision: 2) %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

 
</section>
